<% require 'securerandom' %>
<% uid = SecureRandom.uuid %>
<% 

modal_uid = 'image-modal-' + uid 

%>

<%# render partial: "layouts/fields/modal", locals: { input_type: "radio", join_id: field.resource&.id, join_table: join_table, join_symbol: join_symbol, field_name: @field_name || :image_id,  modal_uid: modal_uid, parent_selector:  '.field-unit--one-image-field', selected_image_id: nil } %>

<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field field-<%= field.name %>">
  <%= f.collection_select field.permitted_attribute,
    MediaObject.all, 
    :id, 
    :name, 
    { include_blank: true } %>

  <div class="one_image_field">
  	<div class="row">   
    	<div class="col-sm-12">
          <%= link_to( admin_media_objects_path( input_type: "radio", listing_id: false, field_name: field.name, modal_uid: modal_uid, parent_selector: ".field-#{field.name}" ), remote: true, data: { toggle: "modal", target: '#' + modal_uid }, class: "add-image btn btn-sm btn-primary") do %>
            <i class="fas fa-plus"></i> Add File
          <% end %>
    	</div>
  	</div>

    <div class="new-listing-images">
      <div class="listing-images">
		    <%= render partial: "layouts/fields/thumbnail_img", locals: { image: field.data } %>
      </div>
    </div>
  </div>

</div>