<% require 'securerandom' %>
<% uid = SecureRandom.uuid %>
<%

modal_uid = 'image-modal-' + uid

sorted_list = field.resources
sorted_ids = sorted_list.map(&:id)

%>

<div class="field-unit__label">
  <%= f.label field.attribute, for: "#{f.object_name}_#{field.attribute_key}" %>
</div>
<div class="field-unit__field field-<%= field.name %>">
  <%= f.select(field.attribute_key, nil, {}, multiple: true, class: "tenf-media-library-select" ) do %>
    <%= options_for_select(field.associated_resource_options.sort_by{
		|image|

		if ( i = sorted_ids.find_index( image[1] ) )
			i
		else
			sorted_list.count
		end
		}, field.selected_options) %>
  <% end %>

	<div class="many_image_field">
		<div class="row">
			<div class="col-sm-12">
			    <%= link_to( admin_media_objects_path( input_type: "checkbox", modal_uid: modal_uid, parent_selector: ".field-#{field.name}" ), remote: true, data: { "bs-toggle" => "modal", "bs-target": "#" + modal_uid }, class: "btn btn-sm btn-primary add-image") do %>
			      + Add File
			    <% end %>
			</div>
		</div>

		<div class="new-listing-images">
			<div class="listing-images">
				<% sorted_list.each do |image| %>
			    <%= render partial: "layouts/fields/thumbnail_img", locals: { image: image } %>
				<% end %>
			</div>
		</div>
	</div>
</div>